version: '3.4'

services:
  #TRAEFICK E CONSUL
  consul:
    image: consul:1.8.9
    command: consul agent -server -dev -client=0.0.0.0 -ui -bootstrap -log-level warn
    ports:
     - "8500:8500"
    networks:
      - irokonetwork
  
  reverse-proxy:
    image: traefik:v1.7.29-alpine
    command: traefik --consulcatalog.endpoint=consul:8500 --api=true --docker
    ports:
      - 80:80
      - 443:443
      - 8080:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - irokonetwork

networks:
  irokonetwork:


