<mat-card>

  <mat-card-header>
    <div mat-card-avatar class="menu-app-image"></div>
    <mat-card-title>Iroko App</mat-card-title>
    <mat-card-subtitle>Login</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Username" formControlName="user">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>


      <p *ngIf="error !== ''" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submit" [disabled]="!loginForm.valid" color="primary" mat-button>Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>